# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Envs
.env
.venv
venv/

# IDEs
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# Build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Docker
*.pid
