[tool.black]
line-length = 120
target-version = ["py310"]
skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["src"]
default_section = "THIRDPARTY"

[tool.mypy]
python_version = "3.10"
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
disallow_untyped_defs = true
check_untyped_defs = true
ignore_missing_imports = true

[tool.pytest.ini_options]
pythonpath = [
    "src"
]
addopts = "-ra -q"
testpaths = [
    "tests"
]
